body{
  background-color: black;
}

#HOME {
  margin: 0;
  padding: 0;
}

.home {
  background-color: white;
  position: relative;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.class {
  position: relative;
  width: 50%;
  margin-left: 25%;
}

#seeresult {
  visibility: hidden;
  position: relative;
  left: 276px;
}

::-webkit-input-placeholder {
  text-align: center;
}

input {
  text-align: center;
}
