body{
  background-color: black;
}

#HOME {
  background-color: grey;
  margin: 0;
  padding: 0;
  height: 625px; 
}

#a {
  position: relative;
  text-align: center;
}

#A {
  width: 100%;
}

#B {
  width: 40%;
  float: left;
}

#C {
  width: 40%;
  float: right;
}

#D {
  width: 100%;
}

#E {
  width: 40%;
  float: right;
}

#F {
  width: 40%;
  float: left;
}

#G {
  width: 100%;
}

#H {
  width: 40%;
  float: left;
}

#I {
  width: 40%;
  float: right;
