body{
  background-color: black;
  text-align: center;
}

#A {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.eachGoal {
  margin: 0;
  padding: 0;
  border: 1px solid blue;
}

footer {
  margin: 0;
  padding: 0;
}

#A {
  margin: 0;
  padding: 0;
}

.overlay-div{
   height: 100%;
   width: 100%;
   position: absolute;
   background-color: #000;
   opacity: 0.5;
}
