body{
  background-color: black;
}

#HOME {
  background-color: grey;
  margin: 0;
  padding: 0;
}

#carouselExampleBackground {
  position: absolute;
  height: 100%;
  width: 100%;
}

.carousel-inner:after {
  content:"";
  position:absolute;
  background:rgba(0,0,0,0.5);
  height: 625px;
  width: 100%;
}

#a {
  position: relative;
  text-align: center;
}

#A {
  width: 100%;
}

#B {
  width: 40%;
  float: left;
}

#C {
  width: 40%;
  float: right;
}

#D {
  width: 100%;
}

#E {
  width: 40%;
  float: right;
}

#F {
  width: 40%;
  float: left;
}

#G {
  width: 100%;
}

#H {
  width: 40%;
  float: left;
}

#I {
  width: 40%;
  float: right;
