body {
  background-color: black;
}

#A {
  margin: 0;
  padding: 0;
}

#B {
  width: 50%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#C {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
